In [1]:
import pandas as pd
import numpy as np

## Loading dataframe

In [2]:
path = r'C:\Users\Umadevi Hiremath\Downloads\MapUp-Data-Assessment-F-main\datasets\dataset-3.csv'
dataframe_3 = pd.read_csv(path)

In [3]:
dataframe_3.head()

   id_start   id_end  distance
0   1001400  1001402       9.7
1   1001402  1001404      20.2
2   1001404  1001406      16.0
3   1001406  1001408      21.7
4   1001408  1001410      11.1

## Question 1: Distance Matrix Calculation

In [4]:
def calculate_distance_matrix(dataframe):
    id_start = dataframe['id_start'].unique()
    distance_dataframe = pd.DataFrame(data=None,index=id_start,columns=id_start)
    distance_series = dataframe['distance'].copy()
    cumsum_distance = distance_series.cumsum()
    dataframe['cumdistance'] = cumsum_distance
    for i in range(len(dataframe)):
        start_index = dataframe.iloc[i].id_start
        end_index = dataframe.iloc[i].id_end
        distance_value = dataframe.iloc[i].distance
        distance_dataframe.at[start_index,end_index] = distance_value
        distance_dataframe.at[end_index,start_index] = distance_value
    for i in range(len(dataframe)):
        id_start = dataframe.iloc[i].id_start
        for j in range(i+1,len(dataframe)):
            id_end = dataframe_3.iloc[j].id_end
            cumulative_distance = dataframe_3.iloc[j].cumdistance
            distance_dataframe.at[id_start,id_end] = cumulative_distance 
            distance_dataframe.at[id_end,id_start] = cumulative_distance
    for i in range(len(distance_dataframe)):
        distance_dataframe.iat[i,i] = 0.0
    return(distance_dataframe)

In [5]:
calculate_distance_matrix(dataframe_3)

,1001400,1001402,1001404,1001406,1001408,1001410,1001412,1001414,1001416,1001418,...,1001458,1001460,1001461,1001462,1001464,1001466,1001468,1001470,1001437,1001472
1001400,0.0,9.7,29.9,45.9,67.6,78.7,94.3,112.5,125.7,139.3,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001402,9.7,0.0,20.2,45.9,67.6,78.7,94.3,112.5,125.7,139.3,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001404,29.9,20.2,0.0,16.0,67.6,78.7,94.3,112.5,125.7,139.3,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001406,45.9,45.9,16.0,0.0,21.7,78.7,94.3,112.5,125.7,139.3,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001408,67.6,67.6,67.6,21.7,0.0,11.1,94.3,112.5,125.7,139.3,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001410,78.7,78.7,78.7,78.7,11.1,0.0,15.6,112.5,125.7,139.3,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001412,94.3,94.3,94.3,94.3,94.3,15.6,0.0,18.2,125.7,139.3,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001414,112.5,112.5,112.5,112.5,112.5,112.5,18.2,0.0,13.2,139.3,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001416,125.7,125.7,125.7,125.7,125.7,125.7,125.7,13.2,0.0,13.6,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001418,139.3,139.3,139.3,139.3,139.3,139.3,139.3,139.3,13.6,0.0,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001420,152.2,152.2,152.2,152.2,152.2,152.2,152.2,152.2,152.2,12.9,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001422,161.8,161.8,161.8,161.8,161.8,161.8,161.8,161.8,161.8,161.8,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001424,173.2,173.2,173.2,173.2,173.2,173.2,173.2,173.2,173.2,173.2,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001426,191.8,191.8,191.8,191.8,191.8,191.8,191.8,191.8,191.8,191.8,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001428,207.6,207.6,207.6,207.6,207.6,207.6,207.6,207.6,207.6,207.6,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001430,216.2,216.2,216.2,216.2,216.2,216.2,216.2,216.2,216.2,216.2,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001432,225.2,225.2,225.2,225.2,225.2,225.2,225.2,225.2,225.2,225.2,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001434,233.1,233.1,233.1,233.1,233.1,233.1,233.1,233.1,233.1,233.1,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001436,237.1,237.1,237.1,237.1,237.1,237.1,237.1,237.1,237.1,237.1,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,255.1,471.2
1001438,246.1,246.1,246.1,246.1,246.1,246.1,246.1,246.1,246.1,246.1,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,4.0,471.2
1001440,265.1,265.1,265.1,265.1,265.1,265.1,265.1,265.1,265.1,265.1,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,NaN,471.2
1001442,269.0,269.0,269.0,269.0,269.0,269.0,269.0,269.0,269.0,269.0,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,NaN,471.2
1001488,273.5,273.5,273.5,273.5,273.5,273.5,273.5,273.5,273.5,273.5,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,NaN,471.2
1004356,277.5,277.5,277.5,277.5,277.5,277.5,277.5,277.5,277.5,277.5,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,NaN,471.2
1004354,279.5,279.5,279.5,279.5,279.5,279.5,279.5,279.5,279.5,279.5,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,NaN,471.2
1004355,281.5,281.5,281.5,281.5,281.5,281.5,281.5,281.5,281.5,281.5,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,NaN,471.2
1001444,282.2,282.2,282.2,282.2,282.2,282.2,282.2,282.2,282.2,282.2,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,NaN,471.2
1001446,288.8,288.8,288.8,288.8,288.8,288.8,288.8,288.8,288.8,288.8,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,NaN,471.2
1001448,298.4,298.4,298.4,298.4,298.4,298.4,298.4,298.4,298.4,298.4,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,NaN,471.2
1001450,314.1,314.1,314.1,314.1,314.1,314.1,314.1,314.1,314.1,314.1,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,NaN,471.2
1001452,324.0,324.0,324.0,324.0,324.0,324.0,324.0,324.0,324.0,324.0,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,NaN,471.2
1001454,335.3,335.3,335.3,335.3,335.3,335.3,335.3,335.3,335.3,335.3,...,357.8,362.9,375.7,398.7,425.4,433.9,444.6,455.2,NaN,471.2
1001456,348.9,348.9,348.9,348.9,348.9,348.9,348.9,348.9,348.9,348.9,...,8.9,362.9,375.7,398.7,425.4,433.9,444.6,455.2,NaN,471.2
1001458,357.8,357.8,357.8,357.8,357.8,357.8,357.8,357.8,357.8,357.8,...,0.0,5.1,375.7,398.7,425.4,433.9,444.6,455.2,NaN,471.2
1001460,362.9,362.9,362.9,362.9,362.9,362.9,362.9,362.9,362.9,362.9,...,5.1,0.0,12.8,398.7,425.4,433.9,444.6,455.2,NaN,471.2
1001461,375.7,375.7,375.7,375.7,375.7,375.7,375.7,375.7,375.7,375.7,...,375.7,12.8,0.0,5.1,425.4,433.9,444.6,455.2,NaN,471.2
1001462,398.7,398.7,398.7,398.7,398.7,398.7,398.7,398.7,398.7,398.7,...,398.7,398.7,5.1,0.0,26.7,433.9,444.6,455.2,NaN,471.2
1001464,425.4,425.4,425.4,425.4,425.4,425.4,425.4,425.4,425.4,425.4,...,425.4,425.4,425.4,26.7,0.0,8.5,444.6,455.2,NaN,471.2
1001466,433.9,433.9,433.9,433.9,433.9,433.9,433.9,433.9,433.9,433.9,...,433.9,433.9,433.9,433.9,8.5,0.0,10.7,455.2,NaN,471.2
1001468,444.6,444.6,444.6,444.6,444.6,444.6,444.6,444.6,444.6,444.6,...,444.6,444.6,444.6,444.6,444.6,10.7,0.0,10.6,NaN,471.2
1001470,455.2,455.2,455.2,455.2,455.2,455.2,455.2,455.2,455.2,455.2,...,455.2,455.2,455.2,455.2,455.2,455.2,10.6,0.0,NaN,16.0
1001437,255.1,255.1,255.1,255.1,255.1,255.1,255.1,255.1,255.1,255.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1001472,471.2,471.2,471.2,471.2,471.2,471.2,471.2,471.2,471.2,471.2,...,471.2,471.2,471.2,471.2,471.2,471.2,471.2,16.0,NaN,0.0

## Question 2: Unroll Distance Matrix

In [6]:
def unroll_distance_matrix(dataframe):
    distance_columns = dataframe.columns
    distance_index = dataframe.index
    data = []
    for i in range(len(dataframe)):
        index = distance_index[i]
        for j in range(len(dataframe)):
            col = distance_columns[j]
            value_distance = dataframe.iloc[i].iloc[j]
            if(index != col):
                data.append([index,col,value_distance])
    unrolled_dataframe = pd.DataFrame(data=data,columns=['start_id','end_id','distance'])
    return(unrolled_dataframe)

In [7]:
distance_dataframe = calculate_distance_matrix(dataframe_3)
unroll_distance_matrix(distance_dataframe)

      start_id   end_id  distance
0      1001400  1001402       9.7
1      1001400  1001404      29.9
2      1001400  1001406      45.9
3      1001400  1001408      67.6
4      1001400  1001410      78.7
...        ...      ...       ...
1801   1001472  1001464     471.2
1802   1001472  1001466     471.2
1803   1001472  1001468     471.2
1804   1001472  1001470      16.0
1805   1001472  1001437       NaN

[1806 rows x 3 columns]

## Question 3: Finding IDs within Percentage Threshold

In [16]:
def find_ids_within_ten_percentage_threshold(dataframe,reference_value):
    distance_reference = 0
    distances = []
    for i in range(len(dataframe)):
        startid = dataframe.iloc[i].start_id
        if(startid == reference_value):
            distances.append(dataframe.iloc[i].distance)
    mean_distance_reference = sum(distances)/len(distances)
    ten_percent_threshold1 = mean_distance_reference*0.1 + mean_distance_reference
    ten_percent_threshold2 = mean_distance_reference - mean_distance_reference*0.1
    ids=[]
    for i in range(len(dataframe)):
        startid = dataframe.iloc[i].start_id
        distance_value = dataframe.iloc[i].distance
        end_id = dataframe.iloc[i].end_id
        if(distance_value <= ten_percent_threshold1 and distance_value >= ten_percent_threshold2 and startid!=reference_value):
            ids.append(startid)
    ids.sort()
    unique_ids = np.unique(ids)
    return(unique_ids)

In [17]:
unrolled_dataframe = unroll_distance_matrix(distance_dataframe)
find_ids_within_ten_percentage_threshold(unrolled_dataframe,1001400)

array([1001402., 1001404., 1001406., 1001408., 1001410., 1001412.,
       1001414., 1001416., 1001418., 1001420., 1001422., 1001424.,
       1001426., 1001428., 1001430., 1001432., 1001434., 1001436.,
       1001437., 1001438., 1001440., 1001442., 1001488.])

## Question 4: Calculate Toll Rate

In [18]:
def calculate_toll_rate(dataframe):
    dataframe['moto'] = unrolled_dataframe.distance * 0.8
    dataframe['car'] = unrolled_dataframe.distance * 1.2
    dataframe['rv'] = unrolled_dataframe.distance * 1.5
    dataframe['bus'] = unrolled_dataframe.distance * 2.2
    dataframe['truck'] = unrolled_dataframe.distance * 3.6
    return(dataframe)

In [19]:
tolled_dataframe = calculate_toll_rate(unrolled_dataframe)
tolled_dataframe.head()

   start_id   end_id  distance   moto    car      rv     bus   truck
0   1001400  1001402       9.7   7.76  11.64   14.55   21.34   34.92
1   1001400  1001404      29.9  23.92  35.88   44.85   65.78  107.64
2   1001400  1001406      45.9  36.72  55.08   68.85  100.98  165.24
3   1001400  1001408      67.6  54.08  81.12  101.40  148.72  243.36
4   1001400  1001410      78.7  62.96  94.44  118.05  173.14  283.32

## Question 5: Calculate Time-Based Toll Rates

In [20]:
import datetime

def calculate_time_based_toll_rates(dataframe):
    records_list = []
    for i in range(len(dataframe)):
        record = dataframe.iloc[i]
        for j in range(4):
            records_list.append(record)
    time_series_dataframe = pd.DataFrame(data=records_list,columns=dataframe.columns)
    day_list = [['Monday','Friday'],['Tuesday','Saturday'],['Wednesday','Sunday'],['Saturday','Sunday']]
    day_list = day_list*4
    time = datetime.datetime(2020,6,17,23,59,59)
    time2 = datetime.datetime(2020,6,17,0,0,0)
    time3 = datetime.datetime(2020,6,17,18,0,0)
    time4 = datetime.datetime(2020,6,17,10,0,0)
    midnight = time.strftime("%X")
    next_day = time2.strftime("%X")
    evening = time3.strftime("%X")
    morning = time4.strftime("%X")
    time_dataframe = [['Monday','Friday',next_day,morning],['Tuesday','Saturday',morning,evening],['Wednesday','Sunday',evening,midnight],['Saturday','Sunday',next_day,midnight]]
    time_dataframe = time_dataframe*1806
    time = pd.DataFrame(data=time_dataframe,columns=['start_day','end_day','start_time','end_time'])
    time_series_dataframe.reset_index(inplace=True)
    time_series_dataframe.drop('index',axis=1,inplace=True)
    time_series_dataframe['start_day'] = time['start_day'].copy()
    time_series_dataframe['end_day'] = time['end_day'].copy()
    time_series_dataframe['start_time'] = time['start_time'].copy()
    time_series_dataframe['end_time'] = time['end_time'].copy()
    modified_values = []
    for i in range(len(time_series_dataframe)):
        startday = time_series_dataframe.iloc[i].start_day
        enday = time_series_dataframe.iloc[i].end_day
        startime = time_series_dataframe.iloc[i].start_time
        endtime = time_series_dataframe.iloc[i].end_time
        moto_value = time_series_dataframe.iloc[i].moto
        car_value = time_series_dataframe.iloc[i].car
        rv_value = time_series_dataframe.iloc[i].rv
        bus_value = time_series_dataframe.iloc[i].bus
        truck_value = time_series_dataframe.iloc[i].truck
        if(startday == 'Monday' or startday =='Tuesday' or startday =='Wednesday'):
        
            if(startime == '00:00:00' and endtime =='10:00:00'):
                moto_value*=0.8
                car_value*=0.8
                rv_value*=0.8
                bus_value*=0.8
                truck_value*=0.8
            elif(startime == '10:00:00' and endtime =='18:00:00'):
                moto_value*=1.2
                car_value*=1.2
                rv_value*=1.2
                bus_value*=1.2
                truck_value*=1.2
            else:
                moto_value*=0.8
                car_value*=0.8
                rv_value*=0.8
                bus_value*=0.8
                truck_value*=0.8
        else:
                moto_value*=0.7
                car_value*=0.7
                rv_value*=0.7
                bus_value*=0.7
                truck_value*=0.7
        modified_moto_value = round(moto_value,2)
        modified_car_value = round(car_value,2)
        modified_rv_value = round(rv_value,2)
        modified_bus_value = round(bus_value,2)
        modified_truck_value = round(truck_value,2)
        modified_values.append([modified_moto_value,modified_car_value,modified_rv_value,modified_bus_value,modified_truck_value])
    modified_values_dataframe = pd.DataFrame(data=modified_values,columns=['moto','car','rv','bus','truck'])
    time_series_dataframe.drop(columns=['moto','car','rv','bus','truck'],inplace=True)
    time_series_dataframe['moto'] = modified_values_dataframe['moto'].copy()
    time_series_dataframe['car'] = modified_values_dataframe['car'].copy()
    time_series_dataframe['rv'] = modified_values_dataframe['rv'].copy()
    time_series_dataframe['bus'] = modified_values_dataframe['bus'].copy()
    time_series_dataframe['truck'] = modified_values_dataframe['truck'].copy()
    return(time_series_dataframe)

In [21]:
time_series_dataframe = calculate_time_based_toll_rates(unrolled_dataframe)

In [22]:
time_series_dataframe.head()

,start_id,end_id,distance,start_day,end_day,start_time,end_time,moto,car,rv,bus,truck
0,1001400.0,1001402.0,9.7,Monday,Friday,00:00:00,10:00:00,6.21,9.31,11.64,17.07,27.94
1,1001400.0,1001402.0,9.7,Tuesday,Saturday,10:00:00,18:00:00,9.31,13.97,17.46,25.61,41.90
2,1001400.0,1001402.0,9.7,Wednesday,Sunday,18:00:00,23:59:59,6.21,9.31,11.64,17.07,27.94
3,1001400.0,1001402.0,9.7,Saturday,Sunday,00:00:00,23:59:59,5.43,8.15,10.18,14.94,24.44
4,1001400.0,1001404.0,29.9,Monday,Friday,00:00:00,10:00:00,19.14,28.70,35.88,52.62,86.11